body{
	background: rgb(0, 0, 0);
	color: white;
}
h1 {
    color: rgb(245, 245, 245);
    
  }
p {
  color:black
}

  .container {
    margin: auto;
    display: inline-block;
    margin: 5px 15px;
    gap:20px;
    position: relative;
  }

  .card {
    height:auto;
    background-color: rgb(159, 255, 155);
    width: 23%;
    float:left;
    margin: 20px 1%;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 10px 10px rgb(99, 99, 99);
  }

  .card2 {
    height:auto;
    background-color: rgb(247, 160, 160);
    width: 23%;
    float:left;
    margin: 20px 1%;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 10px 10px rgb(99, 99, 99);
  }

  .card3 {
    height:auto;
    background-color: rgb(159, 213, 254);
    width: 23%;
    float:left;
    margin: 20px 1%;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 10px 10px rgb(99, 99, 99);
  }
  
  .head-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }