.flex-container { 
    width: 500px;
    height: 700px;
    gap: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: rgb(255, 255, 255);
  }
  
  .flex.item  {
      padding: 20%;
      font-size: 70%;
      text-align: center;
  }
  
  .item1 {
      background-color:rgb(184, 77, 77);
      flex-basis: 245px;
      height: 180px;
  }
  
  .item2 {
      background-color: rgb(219, 208, 128);
      flex-basis: 245px;
      height: 100px;
  }
  
  .item3 {
      background-color: rgb(103, 205, 205);
      flex-basis: 245px;
      height: 180px;
  }
  
  .item4 {
      background-color: rgb(62, 101, 136);
      width: 100px;
      height: 180px;
  }
  
  .item5 {
      background-color: rgb(224, 160, 229);
      width: 100px;
      height: 100px;
  }
  
  .item6 {
      background-color: rgb(130, 126, 126);
      width: 390px;
      height: 100px;
  }
  
  .item7 {
      background-color: rgb(146, 182, 149);
      width: 100px;
      height: 100px;
  }
  
  .item8 {
      background-color: rgb(159, 199, 57);
      width: 500px;
      height: 100px;
  }

  .item9 {
    background-color: rgb(255, 86, 86);
    width: 245px;
    height: 180px;
}

.item10 {
    background-color: rgb(238, 138, 138);
    width: 245px;
    height: 180px;

}